@charset "UTF-8";
/* CSS Document */
/* Medios para pantallas pequeñas */
@media screen and (max-width:600px) {
	
	
	.anuncio {
	width: 300px; height:600px; background-color: white; }
	
	#desktop-nav {
		display: none;
		}
	
#hamburger-nav {
		
       display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #fff;
        position: relative;   }
	
	
.hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
	height: auto;
        cursor: pointer;
        z-index: 1000;
    }
	
	
    }

	.menu-links {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .menu-links.open {
        display: block;
    }

    .menu-links li {
        list-style: none;
        padding: 10px 0;
        text-align: center;
    }

    .menu-links a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
    }


.logo {
    font-family: 'CooperHewitt', sans-serif;
	font-size:3em ;
    font-weight: bold;
    color: #000;
	 letter-spacing: 0.01em;
}

/* Grilla de imágenes */
.image-grid {
    display: inline;
    margin-top: 20px;
}

.image-item {
    width: 50%;
    max-width: 100px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-container {
	display: flex;
    grid-gap:20px;
    justify-content: center;
    margin-top: 20px;
}

.image-description {
    font-family: 'CooperHewitt', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin-top: 6px;
    line-height: 1;
}






@media screen and (min-width:600px) {
	
	 .anuncio {
	width: 728px; height: 90px; background-color: white; }
	
	.logo {
    font-family: 'CooperHewitt', sans-serif;
	font-size:5em ;
    font-weight: bold;
    color: #000;
	 letter-spacing: 0.01em;
}
	
	.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 33%));
    grid-gap: 10px;
    margin-top: 20px;
}
	
	.image-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 33%));
    grid-gap: 10px;
    margin-top: 20px;
}
	
	

.image-item {
    width: 100%;
    max-width: 200px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.image-description {
    font-family: 'CooperHewitt', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin-top: 6px;
    line-height: 1;
}


