/* Cargar la fuente personalizada */
@font-face {
    font-family: 'CooperHewitt';
    src: url('fonts/CooperHewitt-Heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CooperHewitt', sans-serif; /* Aplicar la misma tipografía en toda la web */
}

body {
    background-color: #fff;
    font-family: 'CooperHewitt', sans-serif;
    line-height: 1.6;
}

p {
    background-color: #fff;
    font-family: 'CooperHewitt', sans-serif;
    line-height: 1.6;
	
}


.logo {
    font-family: 'CooperHewitt', sans-serif;
	font-size:5em ;
    font-weight: bold;
    color: #000;
	 letter-spacing: 0.03em;
}

.logo:hover  { 
	cursor: default}

.logo { 
    width: 100%;
    background-color: #fff;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

  footer {
    display: flex;
    justify-content: center;      /* Centra el contenido horizontalmente */
    align-items: center;          /* Centra el contenido verticalmente */
    background-color: lightgrey;  /* Fondo gris claro para el footer */
    color: white;                 /* Texto en blanco */
    padding: 20px;                /* Espacio interno del footer */
    width: 100%;                  /* Asegura que el footer ocupe todo el ancho */
    position: relative;           /* Posición relativa */
    bottom: 0;                    /* Se posiciona en la parte inferior */
    left: 0;                      /* Se alinea a la izquierda */
    box-sizing: border-box;       /* Asegura que el padding no afecte el ancho total */
}


footer p {
    margin: 0;                    /* Elimina el margen del texto del footer */
    color: white;                 /* Asegura que el texto sea blanco */
    background-color: transparent;/* Asegura que no haya fondo detrás del texto */
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}




/* transiciones */

a, .btn {
  transition: all 300ms ease;
}




/* desktop nav */



nav {
   justify-content: space-around;
	align-items:  center;
	height: 26vh;
	
	
}

nav {
    width: 100%;
    margin-top:0px;
}

ul.nav-links li {
    display: inline;
}

ul.nav-links li a:hover {
    color: red;
}

ul.nav-links {
    display: flex; 
    justify-content: space-evenly; 
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
	margin-top: -10;
}

ul.nav-links li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.03em;
    transition: color 0.3s ease;
}

.logo  {
    font-size:5em 
}


/*hamburger menu*/

#hamburger-nav { 
	display: none;
	}

.hamburger-menu { 
	position: relative;
	display: inline-block;
	height:100px;
	
	}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px; /* Tamaño de altura del ícono */
    width: 30px;  /* Tamaño de ancho del ícono */
    cursor: pointer;
    position: relative;
    z-index: 1000; /* Traerlo al frente */
    margin-right: 20px; /* Margen para separarlo del borde */
}

.hamburger-icon span {
    display: block;
    width: 100%;
    height: 6px; /* Grosor de las barras */
    background-color: black; /* Color de las barras */
    margin: 2px 0; /* Espacio entre las barras */
    transition: all 0.3s ease-in-out;
}


.menu-links {
	position: absolute;
	top: 100%;
	right:  0%;
	background-color: white;
	width:100%;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3 ease-in-out;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.03em;
	}

.menu-links a {
	display: block;
	padding: 10px;
	text-align:  justify;
	font-size: 1.5rem;
	color: black;
	text-decoration: none;
	transform: all 0.3 ease-in-out;
	}

.menu-links li {
	list-style: none;
	}

.menu-links.open {
	max-height: 400px;
	width: auto;
	 z-index: 1000;
	}

.hamburger-icon.open span:first-child {
	transform: rotate(45deg) translate(10px, 5px )
	}

.hamburger-icon.open span:nth-child(2) {
	opacity: 0;
	}

.hamburger-icon.open span:last-child {
	transform:rotate(-45deg)translate(10px,-5px )
	}


.hamburger-icon span:first-child {
	transform: none;
	}

.hamburger-icon span:first-child {
	opacity: none;
	}

.hamburger-icon span:first-child {
	transform: none;
	}


	

		

	
	
	


/* Contenedor principal */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

p { 

    font-family: 'CooperHewitt', sans-serif;
	font-size:1em ;
    color: #000;
	 letter-spacing: 0.03em;

}






/* Grilla de imágenes pag principal */
.image-grid {
    display: inline;
    margin-top: 20px;
}

.image-item {
    width: 100%;
    max-width: 200px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.image-description {
    font-family: 'CooperHewitt', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin-top: 6px;
    line-height: 1;
}


/* Grilla de imágenes personal */


.container2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.image-grid2 {
     display: inline;
    margin-top: 20px;
}

.grid-item2 {
	display: inline;
    margin-top: 20px;/* Mantiene la proporción de la imagen */
}

img {
    width: 40%;
    height: auto;
    object-fit: contain;
}

.image-description {
    display: flex; 
    width: 80%;
    margin: 100px;
    margin-top: 6px;

  
}









.anuncio {
	width: 728px; height: 90px; background-color: white; }
